#AdminBookingDetails>section:nth-child(1){
    position: fixed;
    width: 279px;
    height: 100vh;
    background-color: #22534f;
}
#AdminBookingDetails>section:nth-child(2){
    padding-left: 279px;
}

#AdminBookingDetails>section:nth-child(1){
    display: flex;
    flex-direction: column;
}
#AdminBookingDetails>section:nth-child(1)>div:nth-child(1){
    font-family: 'Rock Salt';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: white;
    padding-bottom: 2rem;

}
#AdminBookingDetails>section:nth-child(1)>div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;

}
#AdminBookingDetails>section:nth-child(1)>div:nth-child(2)>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}
#AdminBookingDetails>section:nth-child(1)>div:nth-child(2)>img{
    width: 5rem;
    height: 5rem;

}
#AdminBookingDetails>section:nth-child(1)>div:nth-child(2)>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}


#AdminBookingDetails>section:nth-child(1)>div:nth-child(3){
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 2rem;
    overflow-y: auto;
    scrollbar-width: thin;
}
#AdminBookingDetails>section:nth-child(1)>div:nth-child(3)>div>h1{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 35px;
    color: #FFFFFF;
    cursor: pointer;
}
#AdminBookingDetails>section:nth-child(1)>div:nth-child(3)>div>h1>a{
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}
#AdminBookingDetails>section:nth-child(1)>div:nth-child(3)>div:hover{
    background-color: rgba(56, 106, 100, 0.92);
}
#AdminBookingDetails>section:nth-child(1)>div:nth-child(3)>div:last-child{
    padding-top: 10px;
}

#AdminBookingDetails>section:nth-child(1)>div:nth-child(3)>div:nth-child(7)>h1{
    color: black;
}

/*******************************************************/
#AdminBookingDetails>section:nth-child(2)>div:nth-child(1){
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#AdminBookingDetails>section:nth-child(2)>div:nth-child(1)>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 52px;
    padding-left: 10px;


}


#AdminBookingDetails>section:nth-child(2)>div:last-child{
    padding-left: 1rem;padding-right: 1rem;
}
#AdminBookingDetails>section:nth-child(2)>div:last-child>tbody{
    height: 200px;
    overflow-y: scroll;
}