#Nav{
    z-index: 1;
    position: absolute;
    top: 16px;
    right: 65px;
}


#Nav>ul>li{
    display: inline-block;
    padding-left: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;

}
#Nav>ul>li:nth-child(1)>a:hover{
    text-decoration: none;
}
#Nav>ul>li:nth-child(3)>a{
    color: black;
    font-weight: 800;
}
#Nav>ul>li>a{
    color: #000000;
    text-decoration: none;
}
#bookingDetail{
    padding-top: 17vh;
}
#bookingDetail>div:nth-child(1){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bookingDetail>div:nth-child(1)>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}
