#Nav{
    z-index: 1;
    position: absolute;
    top: 16px;
    right: 65px;
}


#Nav>ul>li{
    display: inline-block;
    padding-left: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;

}
#Nav>ul>li:nth-child(1)>a:hover{
    text-decoration: none;
}
#Nav>ul>li:nth-child(2)>a{
    color: black;
    font-weight: 800;
}
#Nav>ul>li>a{
    color: #000000;
    text-decoration: none;
}

#Booking{
    padding-top: 8vh;
}
#Booking>div:nth-child(1){
    position: relative;
    top: 70px;

}

#Booking>div:nth-child(1)>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}
#Booking>div:nth-child(1)>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}
#Booking>div:nth-child(1)>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: #747474;
}
span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 60px;

    color: #0300A7
}

#Booking>div:nth-child(1)>div:nth-child(5){
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}




/*card Manage start*/
.card>hr{
    margin: 0;
}
.card-body{
    padding: 10px;
}
.card-body>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.card-body>h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
}
.card-body>p{
    margin-bottom: 0;
}
.card-body>.btnViewDetail{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: blue;
    font-size: 10px;
}
.card-body>div>div>h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    margin: 0;
}
.card-body>div>div>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}
.card-body>button{
    width: 100%;
}

/*card Manage End*/

#cardsStore{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}